<!-- My Links -->
<div class="mb-20">
    <div class="text-xl font-medium label m-6">My links</div>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-2 xl:grid-cols-4 gap-5 lg:gap-10">
        <a class="h-40 w-full card bg-instagram/10 hover:bg-instagram/15" href="https://www.instagram.com/kyle.rummens"
            target="_blank">
            <div class="logo-box !p-0">
                <img src="/assets/instagram.png" class="h-full w-full">
            </div>
            <div class="label">@kyle.rummens</div>
            <div class="secondary-label text-xs">7 posts</div>
            <div class="secondary-label text-xs">92 followers</div>
        </a>
        <a class="h-40 w-full card bg-linkedin/10 hover:bg-linkedin/15" href="https://www.linkedin.com/in/kyle-rummens/"
            target="_blank">
            <div class="logo-box !p-1 bg-linkedin">
                <img src="/assets/linkedin.png">
            </div>
            <div class="label">kyle-rummens</div>
            <div class="secondary-label text-xs">106 followers</div>
            <div class="secondary-label text-xs">105 connections</div>
        </a>
        <a class="col-span-2 row-span-2 h-full w-full card flex flex-col dark:bg-slate-50/5 hover:bg-slate-50 dark:hover:bg-slate-50/10 overflow-hidden"
            href="https://github.com/kylerummens" target="_blank">
            <div class="logo-box bg-github">
                <img src="/assets/github.png">
            </div>
            <div class="label">kylerummens</div>
            <div class="secondary-label text-xs">9 repositories</div>
            <div class="secondary-label text-xs mb-4">840 contributions in the past year</div>
            <div class="grow"></div>

            <div class="flex gap-1 justify-end">
                <div *ngFor="let week of contributions" class="flex flex-col gap-1">
                    <div *ngFor="let contribution of week" class="github-graph-day"
                        [ngClass]="getGithubGraphLevelClass(contribution.level)">
                    </div>
                </div>
            </div>
        </a>
        <a class="h-40 w-full card bg-twitter/10 hover:bg-twitter/15" href="https://twitter.com/KyleRummens"
            target="_blank">
            <div class="logo-box bg-twitter">
                <img src="/assets/twitter.png">
            </div>
            <div class="label">@KyleRummens</div>
            <div class="secondary-label text-xs">82 followers</div>
        </a>
        <a class="h-40 w-full card bg-stackoverflow/10 hover:bg-stackoverflow/15"
            href="https://stackoverflow.com/users/4435313/krummens" target="_blank">
            <div class="logo-box !p-1 bg-stackoverflow">
                <img src="/assets/stackoverflow.png">
            </div>
            <div class="label">krummens</div>
            <div class="secondary-label text-xs">781 reputation</div>
            <div class="secondary-label text-xs">~90k people reached</div>
        </a>
    </div>
</div>

<!-- Blog Posts -->
<div class="mb-20">
    <div class="text-xl font-medium label m-6">Blog posts</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-5 lg:gap-10">
        <a *ngFor="let post of blog_posts" [routerLink]="['/blog', post.idd]"
            class="card hover:bg-slate-50 dark:bg-slate-50/5 dark:hover:bg-slate-50/10">
            <div class="mb-2">
                <time class="date secondary-label text-sm" [dateTime]="post.published_at">{{ post.published_at |
                    date:'MM.dd.yy' }}</time>
            </div>
            <h1 class="label">{{ post.title }}</h1>
            <h2 class="text-sm font-light secondary-label whitespace-nowrap overflow-hidden text-ellipsis">{{
                post.description }}</h2>
        </a>
    </div>
</div>

<!-- Code -->
<div class="mb-20">
    <div class="text-xl font-medium label m-6">Code</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-5 lg:gap-10">
        <a *ngFor="let code_link of code_links" [href]="code_link.link" target="_blank"
            class="card hover:bg-slate-50 dark:bg-slate-50/5 dark:hover:bg-slate-50/10">

            <div class="mb-5">
                <img [src]="getCodeLinkImage(code_link.link)" style="max-height:40px">
            </div>

            <h1 class="label">{{ code_link.title }}</h1>
            <h2 class="text-sm font-light secondary-label line-clamp-2">
                {{
                code_link.description }}</h2>
        </a>
    </div>
</div>